Repository coreruleset/coreruleset, pull requests merged in 2022-11, with the labels that each got.

#2911 Update 942480 to include REQUEST_HEADERS. Resolves 7JN7QFXC
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942480.yaml
Labels: :star: bug bounty

#2915 added ; to rule 930110 to Fix issue 2881
  rules/REQUEST-930-APPLICATION-ATTACK-LFI.conf
  tests/regression/tests/REQUEST-930-APPLICATION-ATTACK-LFI/930110.yaml
Labels: :star: bug bounty

#2895 fix(BB-53Y730TG): Add additional SQL function signatures
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942150.yaml
  util/regexp-assemble/data/942150.data
Labels: :eyes: Needs action

#2914 fix(RQ1R4RCP): add REQUEST_FILENAME to 942110
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942110.yaml
Labels: :heavy_minus_sign: False Negative - Evasion, :star: bug bounty, :point_right: complexity: medium

#2935 fix(regex): improved the file data for 942350
  util/regexp-assemble/data/942350.data
Labels: :it: DEV Retreat, :point_down: complexity: low, :mage: regexp-assembly

#2952 Add status page test for rule 920100
  tests/regression/tests/REQUEST-920-PROTOCOL-ENFORCEMENT/920100.yaml
Labels: ready to merge

#2960 fix(932240): remove ARGS_NAME from variables
  rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932240.yaml
Labels: :heavy_plus_sign: False Positive, :it: DEV Retreat

#2932 fix(regex 942200) - disassembled data file
  util/regexp-assemble/data/942200.data
Labels: :mage: regexp-assembly

#2938 fix(regex 942240) - disassembled data file
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  util/regexp-assemble/data/942240.data
Labels: :point_right: complexity: medium, :mage: regexp-assembly

#2894 feat(XSS): check filenames to detect path based XSS
  rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941100.yaml
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941101.yaml
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941120.yaml
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941160.yaml
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941180.yaml
Labels: :star: bug bounty

#2962 feat(test) - add status page test for 943100
  tests/regression/tests/REQUEST-943-APPLICATION-ATTACK-SESSION-FIXATION/943100.yaml
Labels: :test_tube: testcase

#2964 feat(test) - add status page test for 942500
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942500.yaml
Labels: :test_tube: testcase

#2967 feat(test) - add status page test for 942270
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942270.yaml
Labels: :test_tube: testcase

#2968 feat(test) - add status page test for 942170
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942170.yaml
Labels: :test_tube: testcase

#2969 feat(test) - Add status page test 941400
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941400.yaml
Labels: :test_tube: testcase

#2971 Add status page test for rule 920250
  tests/regression/tests/REQUEST-920-PROTOCOL-ENFORCEMENT/920250.yaml
Labels: :test_tube: testcase, ready to merge

#2972 Add status page test for rule 920340
  tests/regression/tests/REQUEST-920-PROTOCOL-ENFORCEMENT/920340.yaml
Labels: :test_tube: testcase, ready to merge

#2942 fix(regex): fix data file for 942290
  util/regexp-assemble/data/942290.data
Labels: :it: DEV Retreat, :point_down: complexity: low, :mage: regexp-assembly

#2939 fix(regex): fix data file for 942170
  util/regexp-assemble/data/942170.data
Labels: :it: DEV Retreat, :point_down: complexity: low, :mage: regexp-assembly

#2974 feat(test) - add status page test for 941310
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941310.yaml
Labels: :test_tube: testcase

#2966 test: add for BB BBBZARPI
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932230.yaml
Labels: :test_tube: testcase, :star: bug bounty

#2975 feat(test) - add status page test for 941240
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941240.yaml
Labels: :test_tube: testcase

#2985 fix(test): fix encoded square bracket
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932130.yaml
Labels: :bug: bug

#2986 fix(test): missing encoding on % char
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932140.yaml
Labels: :bug: bug

#2949 fix(regex): fix data file for regex 942362
  util/regexp-assemble/data/942362.data
Labels: :it: DEV Retreat, :point_up: complexity: hard, :mage: regexp-assembly

#2945 feat(942210): rework and reexpress regex data file
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  util/regexp-assemble/data/942210.data
Labels: ready to merge

#2989 fix(922110): remove possesive quantifiers
  rules/REQUEST-922-MULTIPART-ATTACK.conf
  util/regexp-assemble/data/920600.data
  util/regexp-assemble/data/922110-chain1.data
  util/regexp-assemble/data/include/charset-specification.data
Labels: re2-compat

#2993 feat(test) - add status page test for 941200
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941200.yaml
Labels: :test_tube: testcase

#2994 feat(test) - add status page test for 941170
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941170.yaml
Labels: :test_tube: testcase

#2995 feat(test) - add status page test for 941140
  tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941140.yaml
Labels: :test_tube: testcase

#2997 new test 932160-8
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932160.yaml
Labels: :test_tube: testcase

#2950 tests: add coverage for BB EBIDJ91T and MKXQCJMX
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932200.yaml
Labels: :test_tube: testcase, :star: bug bounty

#2996 test: add for VYYFBP5V and GU2FIXLC findings
  .github/workflows/go-ftw.yml
  .github/workflows/test.yml
  regex-assembly/932125.ra
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932120.yaml
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932125.yaml
Labels: :test_tube: testcase, :star: bug bounty

#3027 Add `subuid` to lfi-os-files.data
  rules/lfi-os-files.data
  tests/regression/tests/REQUEST-930-APPLICATION-ATTACK-LFI/930120.yaml
Labels: :star: bug bounty

#3028 Add missing entries to php-confi-directives.data
  rules/php-config-directives.data
  tests/regression/tests/REQUEST-933-APPLICATION-ATTACK-PHP/933120.yaml
Labels: :star: bug bounty

#2791 feat(list): update lfi-os-files
  rules/lfi-os-files.data
Labels: :zap: list update

#3030 fix: add missing empty variable evasion techniques
  regex-assembly/932240.ra
  rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932240.yaml
Labels: :star: bug bounty

#3018 feat(934170): new rule to cover IN2OZO3N
  regex-assembly/934170.ra
  regex-assembly/include/charset-specification-no-anchors.ra
  regex-assembly/include/charset-specification.ra
  rules/REQUEST-934-APPLICATION-ATTACK-GENERIC.conf
  tests/regression/tests/REQUEST-934-APPLICATION-ATTACK-GENERIC/934170.yaml
Labels: :star: bug bounty
