Repository coreruleset/coreruleset, pull requests merged in 2022-12, with the labels that each got.

#2573 feat(rce): additional signatures for NodeJS RCE (934100)
  regex-assembly/934100.ra
  rules/REQUEST-934-APPLICATION-ATTACK-GENERIC.conf
  tests/regression/tests/REQUEST-934-APPLICATION-ATTACK-GENERIC/934100.yaml
Labels: :eyes: Needs action, :star: bug bounty, :mage: regexp-assembly

#3050 feat(932125): update list with latest aliases
  regex-assembly/932125.ra
  rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
Labels: :zap: list update

#3041 fix(942151) - add PostgreSQL JSON functions
  regex-assembly/942151.ra
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
Labels: sqli-bypass-bathla

#3020 chore: update 934101 to use regex-assembly
  regex-assembly/934101.ra
Labels: :mage: regex-assembly

#3058 Add status page test for rule 920470
  tests/regression/tests/REQUEST-920-PROTOCOL-ENFORCEMENT/920470.yaml
Labels: :test_tube: testcase, :checkered_flag: ready to merge

#3048 feat: add relevant info for java-classes.data
  rules/java-classes.data
Labels: :zap: list update

#3063 test: add coverage BB finding 9P5LL13Y
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932220.yaml
Labels: :star: bug bounty

#3026 fix(data): optimized regex for 933211 w/ crs-toolchain
  regex-assembly/933210.ra
  regex-assembly/933211.ra
  rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf
  tests/regression/tests/REQUEST-933-APPLICATION-ATTACK-PHP/933211.yaml
Labels: :star: bug bounty, :mage: regex-assembly
