Repository coreruleset/coreruleset, pull requests merged in 2023-01, with the labels that each got.

#2933 fix(regex): fix data file for 942280 rule
  regex-assembly/942280.ra
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
Labels: :it: DEV Retreat, :point_down: complexity: low, :mage: regex-assembly

#2948 feat(ci): only close issues awaiting for feedback
  .github/workflows/stale.yml
Labels: :it: DEV Retreat

#3059 feat(932110): update windows list 1/2
  regex-assembly/932110.ra
  regex-assembly/932370.ra
  rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932370.yaml
Labels: :zap: list update

#3040 fix(942480) - add newlines to overlay placing
  regex-assembly/942480.ra
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942480.yaml
Labels: sqli-bypass-bathla

#3019 fix(942320) - add postgres data types and multiple plus minus signs
  regex-assembly/942320.ra
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942320.yaml
Labels: :heavy_minus_sign: False Negative - Evasion, sqli-bypass-bathla

#2954 fix(regex): fix data file for 942370
  regex-assembly/942370.ra
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942370.yaml
Labels: :mage: regex-assembly

#3083 fix: add status page test for rule 921120
  tests/regression/tests/REQUEST-921-PROTOCOL-ATTACK/921120.yaml
Labels: :test_tube: testcase, :checkered_flag: ready to merge

#3106 fix: add headers to pl2 rules 942200, 942370
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942200.yaml
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942370.yaml
Labels: sqli-bypass-bathla

#3107 fix: add headers to pl2 rule 942521
  rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
  tests/regression/tests/REQUEST-942-APPLICATION-ATTACK-SQLI/942521.yaml
Labels: sqli-bypass-bathla

#3108 fix: add headers to pl2 rule 932200
  rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
  tests/regression/tests/REQUEST-932-APPLICATION-ATTACK-RCE/932200.yaml
Labels: sqli-bypass-bathla
